*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

/* TODO COMMON PROPERTIES */
.flex{
    display: flex;
}
.relative{
    position: relative;
}

.absolute{
    position: absolute;
    bottom:0;
    left:0;
    z-index:1;
}

/* TODO ---------------END--------------*/

/* !------------------HEADER----------------- */

/* ?-------top bar--------- */
.top-bar{
    justify-content: end;
    align-items: center;
    height: 40px;
    background-color:black;
    color: white;
    font-size: .8rem;
}

.top-bar > .btn{
    background-color:#4a4a4a;
    margin:0 10px;
    padding: 3px;
    text-align: center;
}

.top-bar a{
    text-decoration: none;
    color: white;
    height: 16px;
    line-height: 16px;
}

.fa-th{
    margin-right:5px;
    vertical-align: middle;
}

.fa-expand-arrows-alt{
    vertical-align: middle;
}

/* !----------------- MAIN-------------------------------- */
main{
    background-color: black;
}

.container-img{
    gap: 15px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   /*  border: 5px solid red; */
    width: 100vw;
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 20px 0;
}

.flex-item > p{
    color: white;
    background-color: #4a4a4a;
    padding: .2rem;
    font-size: .8rem;
}

.flex-item{
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    background-image: url('https://picsum.photos/200/300');
    background-image: contain;
}

/* !---------------Footer? bottom bar----------*/
.bottom-bar{
    justify-content: space-between;
    align-items: center;
    /* height: 80px; */
    flex-wrap: wrap;
    background-color:#222222;
    padding-left: 10px;
}

.bottom-bar li{
    text-align: center;
    margin-right:1.5rem;
    color: white;
}
.flex-item-bottom   i{
    font-size: 23px;
}

.flex-item-bottom .fa-share-square:hover{
    color: green;
}

i.fa-angle-up:before{
    content: "\f106";
    display: none;
}

li:first-child:hover  i.fa-angle-up:before{
    content: "\f106";
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    margin-left: 5px;
}

.hover-item:hover + i.fa-angle-up:before{
    content: "\f106";
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    margin-left: 5px;
}


.flex-item-bottom  > p{
    font-size: 13px;
} 

.bottom-bar a{
    text-decoration: none;
    color: red;
    padding: 31px;
    font-size: .8rem;
}

.bottom-bar button{
    background-color:rgba(74,74,74,255);
    border: none;
    height: 80px;
}

.flex-item-bottom{
    flex-shrink: 0;
}
